@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

body {
  background: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

.container {
  margin: 8px;
}

.left {
  width: 24vw;
  height: 100%;
  margin-right: 4px;
}

.right {
  width: 76vw;
  margin-left: 4px;
  height: 100%;
  position: relative;
}

.home {
  padding: 20px 24px 8px 24px;
  margin-bottom: 8px;
}

.library {
  position: relative;
  height: 73.7vh;
}

/* .right-inner {

} */

#open_bar,
#close_bar {
  display: none;
}

.logo,
.logo-5 {
  width: 24px;
  filter: invert(1);
  opacity: 0.75;
}

.logo:hover {
  cursor: pointer;
  opacity: 1;
}

.logo-5 {
  filter: invert(0.7);
}

.ilogo {
  margin-right: 20px;
}

.reg-logo {
  width: 2px;
  height: 2px;
  position: relative;
  top: 6px;
}

.add-logo {
  width: 16px;
}

.lib-header {
  padding: 16px 24px;
  z-index: 3;
}

.lib-body {
  height: 46vh;
  background-color: transparent;
  margin: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lib-body::-webkit-scrollbar {
  width: 12px;
  height: 28px;
  position: absolute;
  z-index: 3;
}

.lib-body::-webkit-scrollbar-track {
  background: transparent;
}

.lib-body::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: rgba(239, 236, 236, 0.3);
}

.lib-body:hover::-webkit-scrollbar {
  display: block;
}

#song-list {
  list-style-type: none;
}

.lib-footer {
  position: absolute;
  bottom: 0;
  width: 95.6%;
  height: 25%;
  padding: 4px 0 0 16px;
  border-radius: inherit;
  background-color: inherit;
}

.cookies {
  color: grey;
  padding: 4px;
  font-size: 12px;
  font-weight: 400;
}

.right .nav {
  height: 8vh;
  padding: 4px 20px;
  border-radius: 8px 8px 0 0;
}

.arrows {
  padding: 4px 6px 0px;
  width: 70px;
}

.loginReg {
  width: 228px;
  height: 100%;
  padding: 0px 12px;
}

.signup {
  padding: 4px;
  margin: 0;
}

.content {
  height: 85.5vh;
  border-radius: 0 0 8px 8px;
  padding: 6px 15px 12px;
  position: relative;
}

.login {
  height: 85%;
}

.main-header {
  margin: 0px 0px 4px;
}

#div_range{
  background-color: rgb(186, 107, 107, 0.3);
  width: 10px;
  height: 150px;
  position: absolute;
  bottom: 60px;
  right: 14px;
  display: none;
  padding: 4px;
  border-radius: 8px;
}

input[type="range"]{
  height: 100%;
  width: 2px;
  margin: auto;
  align-self: center;
  writing-mode: vertical-lr;
}

.showall {
  padding: 4px;
  font-size: 14px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1vw;
  column-gap: 1vw;
  overflow-y: scroll;
  max-height: 70vh;
  padding-right: 1vw;
}

.card:last-child{
  margin-left: auto;
}

.card {
  background-color: rgb(36, 27, 27);
  flex: 1 1 150px;
  min-height: 250px;
  height: auto;
  padding: 16px;
  transition: 0.5s;
}

.card:hover {
  cursor: pointer;
  background-color: rgb(57, 42, 42);
}

.card-top{
  position: relative;
}

.cover {
  margin: 0;
  width: 100%;
  object-fit: cover;
}

.card-top .logo-img {
  position: absolute;
  top: 6%;
  left: 6%;
  width: 16px;
}

.card-heading, .card-body {
  padding: 4px;
}

.card:hover .button {
  bottom: 7%;
  opacity: 1;
}

.button {
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  bottom: 0;
  right: 5%;
  opacity: 0;
  color: transparent;
  transition: all 0.25s ease-out;
  background: url("needed/play.svg");
  background-size: 50px 50px;
  cursor: pointer;
}

.playbar {
  position: absolute;
  bottom: 0px;
  background-color: inherit;
  padding: 6px;
  width: 95%;
  height: 10vh;
  z-index: 3;
}

.play-big {
  width: 30px;
  transition: all 0.25s ease-out;
  z-index: 1;
}

/* .play-big:hover{
    z-index: 2;
    width: 35px;
} */

.play-small {
  width: 20px;
  transition: all 0.25s ease-out;
  z-index: 1;
}

/* .play-small:hover{
    z-index: 2;
    width: 25px;
} */

.playbar-btns {
  width: 100%;
  gap: 20px;
  justify-content: center;
}

.song-detail {
  gap: 1vw;
  height: 100%;
  overflow: hidden;
  width: 10vw;
}

.song-cover {
  display: flex;
  height: 100%;
}

#song-cover-img {
  width: 54px;
  height: 80%;
  margin: auto 0;
  object-fit: cover;
}

.ctrl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3px;
}

.ctrl-btns{
  display: flex;
  margin-right: 4px;
}
 
.ctrl-btns, .ctrl-btns2 {
  justify-content: center;
  gap: 12px;
}

#mob_options{
  display: none;
  position: relative;
}

.ctrl-btns2{
  display: none;
  position: absolute;
  right: 105%;
  top: -30px;
  transition: all 1.0s ease-out;
  background-color: burlywood;
  padding: 4px;
  border-radius: 8px;
}

.ctrl-btns2 img {
  background-color: bisque;
  border-radius: 50%;
  padding: 4px;
}

.song-data {
  margin: auto 0;
  width: 100%;
}

.song-title{
  font-size: 16px;
  animation: song_scroll 6s linear infinite;
}

.song-desc{
  font-size: 12px;
  animation: song_scroll 8s linear 0.5s infinite;
}

@keyframes song_scroll{
  0% { left: 100%;}
  100% { left: -110%;}
}

.song-title, .song-desc{
  position: relative;
  width: 1000%;
}

#seekbar_div{
  padding: 4px 0;
  cursor: pointer;
}

#seekbar {
  width: 100%;
  height: 0;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  z-index: 1;
  margin: 0 0 4px;
}

#circle {
  width: 10px;
  height: 10px;
  background-color: aqua;
  position: relative;
  left: -2px;
  bottom: 5px;
  border-radius: 50%;
  transition: left 0.2s ease-in-out;
  cursor:pointer;
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    width: 350px;
    height: 100%;
    margin: 0px;
    left: -450px;
    top: 0;
    background-color: green;
    padding: 4px;
    transition: all 1s ease-in-out;
    z-index: 4;
  }

  .right {
    position: absolute;
    width: 100%;
    margin: 0px;
  }

  .home {
    position: relative;
    padding: 10px 12px 8px 12px;
  }

  .library {
    margin: 0;
  }

  .lib-header {
    height: 20px;
    z-index: 3;
  }

  .lib-body {
    z-index: 2;
    height: 275px;
  }

  .lib-footer {
    background-color: inherit;
    padding: 4px 0 0 8px;
    z-index: 3;
  }

  .logo {
    filter: invert(1);
    opacity: 0.75;
  }

  #open_bar .logo,
  #close_bar .logo {
    width: 100%;
  }

  #open_bar {
    display: block;
    width: 30px;
    height: 30px;
    padding: 4px;
    background-color: transparent;
  }

  #close_bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: end;
    width: 100%;
    height: 20px;
    background-color: transparent;
  }

  #close_bar .logo {
    width: 20px;
    height: 20px;
  }

  #close_bar .logo:hover {
    background-color: grey;
  }

  .reg-logo {
    width: 4px;
    height: 4px;
  }

  .song-detail{
    width: 20vw;
  }
}

@media (max-width : 600px) {
  #mob_options{
    display: flex;
  }

  .ctrl-btns{
    display: none;
  }

  .ctrl-btns2{
    display: flex;
  }

  #song-cover-img{
    width: 40px;
  }

  .playbar{
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .song-detail{
    width: 20vw;
  }

  .song-title{
    font-size: 12px;
  }
  
  .song-desc{
    font-size: 8px;
  }
}