@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
}

body {
    background: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.left {
    width: 24vw;
    margin: 8px;
}

.right {
    width: 76vw;
    margin: 8px;
    margin-left: 0px;
}

.home {
    padding: 20px 24px 8px 24px;
}

.library {
    height: 100%;
    padding: 16px 24px;
    position: relative;
}

/* .right-inner {

} */

.home{
    margin-bottom: 8px;
}

.logo {
    width: 24px;
    filter: invert(1);
    opacity: 0.75;
}

.ilogo {
    margin-right: 20px;
}

.reg-logo{
    width: 2px;
    height: 2px;
    position: relative;
    top: 6px;
}

.add-logo{
    width: 16px;
}

.lib-body{
    
}

.lib-footer{
    position: absolute;
    bottom: 0;
    height: 40%;
}

.cookies{
    color: grey;
    font-size: 12px;
}