.border{
    border: 3px solid yellow;
    margin: 2px;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.list{
    list-style-type: none;
    padding: 5px;
}
