.border{
    border-radius: 8px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.list{
    list-style-type: none;
    padding: 12px 0;
}

.top{
    position: relative;
    margin: 0px 0px 8px 0px;
    display: flex;
}

.bg-grey{
    background-color: rgb(38, 22, 22);
}

.center{
    display: flex;
    margin: auto 0;
}